<%= provide(:title, "index") %>

<h1 class="user-title">ユーザ一覧</h1>

<div class="col">
  <%= form_with url: import_users_path(format: :csv), local: true, multipart: true do |f| %>
    <%= f.file_field :file, accept: '.csv', class: "btn btn-default" %>
    <%= f.submit "CSVをインポート", class: "btn btn-md btn-primary btn-custum-csv" %>
  <% end %>
</div>

<div class="col">
  <div class="col-md-12">
   <% @users.each do |user| %> 
    <tr>
      <td><p>Example</p></td>
      <td><p><%= user.name %></p></td>
      <td>
        l <%= link_to "削除", user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-primary" %>
      </td>
      <td>
        <div>
          <table class="table table-bordered table-striped">
            <td>
              <button type="button" class="btn btn-primary btn-custum-index" data-toggle="collapse" data-target="#demo">
                編集
              </button>
              <div id="demo" class="collapse">
                <%= form_with(model: @user, local: true) do |f| %>
      
                  <%= f.label :name, class: "user-label-list" %>
                  <%= f.text_field :name, class: "form-control" %>
            
                  <%= f.label :email, class: "user-label-list" %>
                  <%= f.email_field :email, class: "form-control" %>
                  
                  <%= f.label :department, class: "user-label-list" %>
                  <%= f.text_field :department, class: "form-control" %>
                  
                  <%= f.label :社員番号, class: "user-label-list" %>
                  <%= f.text_field :社員番号, class: "form-control" %>
                  
                  <%= f.label :カードid, class: "user-label-list" %>
                  <%= f.text_field :カードid, class: "form-control" %>
                  
                  <%= f.label :basic_time, class: "user-label-list" %>
                  <%= f.time_field  :basic_time, class: "form-control" %>
                  
                  <%= f.label :work_time, class: "user-label-list" %>
                  <%= f.time_field :work_time, class: "form-control" %>
                  
                  <%= f.label :password, class: "user-label-list" %>
                  <%= f.password_field :password, class: "form-control" %>
                      
                  <%= f.label :password_confirmation, class: "user-label-list" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                
                  <%= f.submit "編集", class: "btn btn-primary btn-block user-label-list" %>
                <% end %>
              </div>
            </td>
          </table>
        </div>
      </td>
    </tr>
   <% end %> 
  </div>
</div>





<div class="col">
  <div class="col-md-12">
    <tr>
      
      <td><p>Example</p></td>
      <td><p>""</p></td>
      <td>
        l <%= link_to "削除", "", method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-primary" %>
      </td>
      
      <td>
        <div>
          <table class="table table-bordered">
            <thead>
              
            </thead>
            <td>
              <button type="button" class="btn btn-primary btn-custum-index" data-toggle="collapse" data-target="#demo">
                編集
              </button>
              <div id="demo" class="collapse">
                <%= form_with(model: @user, local: true) do |f| %>
      
                  <%= f.label :name, class: "user-label-list" %>
                  <%= f.text_field :name, class: "form-control" %>
            
                  <%= f.label :email, class: "user-label-list" %>
                  <%= f.email_field :email, class: "form-control" %>
                  
                  <%= f.label :department, class: "user-label-list" %>
                  <%= f.text_field :department, class: "form-control" %>
                  
                  <%= f.label :社員番号, class: "user-label-list" %>
                  <%= f.text_field :社員番号, class: "form-control" %>
                  
                  <%= f.label :カードid, class: "user-label-list" %>
                  <%= f.text_field :カードid, class: "form-control" %>
                  
                  <%= f.label :basic_time, class: "user-label-list" %>
                  <%= f.time_field  :basic_time, class: "form-control" %>
                  
                  <%= f.label :work_time, class: "user-label-list" %>
                  <%= f.time_field :work_time, class: "form-control" %>
                  
                  <%= f.label :password, class: "user-label-list" %>
                  <%= f.password_field :password, class: "form-control" %>
                      
                  <%= f.label :password_confirmation, class: "user-label-list" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                
                  <%= f.submit "編集", class: "btn btn-primary btn-block user-label-list" %>
                <% end %>
              </div>
            </td>
          </table>
        </div>
      </td>
  
    </tr>
  </div>
</div>


